{% extends "base.html" %}
{% load humanize %}
{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mt-3 g-2">
        {% for post in post_list %}
        <div class="col-9">
            <div class="card card-body mb-3 bg-white shadow-sm h-100">
                <p class="h4">{{ post.title }}</p>
                <p class="small text-muted">@{{ post.author }} <i class="bi bi-dash-lg"></i><small>
                        {{ post.whenpublished}}</small> </p>
                <p class="mt-1 mb-0">{{post.content| safe |truncatewords:30 }}
                    <a href="{% url 'post_detail' post.slug  %}" class="stretched-link text-decoration-none">Read more</a>
                </p>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

</div>
{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light"><i class="bi bi-caret-left-fill"></i>
        </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-light"><i class="bi bi-caret-right-fill"></i></a>
    </li>

    {% endif %}
</ul>
</nav>
</div>

{% endif %}
{%endblock%}