{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h5>{% block title %} {{ post.title }} {% endblock title %}</h5>
                <p class="small text-muted">@{{ post.author }} <i class="bi bi-dash-lg"></i><small> {{ post.whenpublished}}</small> </p>
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                {% with comments.count as total_comments %}
                <p class="lead">{{ total_comments }} comment{{total_comments|pluralize }}</p>

                <p>
                    {% endwith %} {% for comment in comments %}
                </p>

                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.whencreated }}
                        </span>
                    </p>
                    {{ comment.body  }}
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-3 mt-3 ">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                <p class="lead">Leave a comment</p>
                <form method="post" style="margin-top: 1.3em;">
                    
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}